#side-area-main {
    background-color: #3cb777;

    padding: 25px;
}

#side-area-main #side-list {
    list-style: none;
    color: #fff;
    font-size: 20px;
    font-family: Nunito, sans-serif;
}

#side-area-main #side-list a {
    color: #fff;
}

#side-area-main #side-list a:hover {
    color: #3097D1;
    text-decoration: none;
}

.head-1{
    font-size: 30px;
}
