/*
@font-face {
    font-family: 'Faruma';
    src: url('../custom-fonts/Faruma.eot');
    src: url('../custom-fonts/Faruma.eot?#iefix') format('embedded-opentype'),
    url('../custom-fonts/Faruma.woff2') format('woff2'),
    url('../custom-fonts/Faruma.woff') format('woff'),
    url('../custom-fonts/Faruma.ttf') format('truetype'),
    url('../custom-fonts/Faruma.svg#Faruma') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'MVFaseyha';
    src: url('../custom-fonts/MVFaseyha.eot');
    src: url('../custom-fonts/MVFaseyha.eot?#iefix') format('embedded-opentype'),
    url('../custom-fonts/MVFaseyha.woff2') format('woff2'),
    url('../custom-fonts/MVFaseyha.woff') format('woff'),
    url('../custom-fonts/MVFaseyha.ttf') format('truetype'),
    url('../custom-fonts/MVFaseyha.svg#MVFaseyha') format('svg');
    font-weight: normal;
}
*/

@font-face{
    font-family:'MV_Waheed';
    src:url('./maldives/MV_Waheed.otf');
}

@font-face{
    font-family:'MV_Faseyha';
    src:url('./maldives/MV_Faseyha_Mhr.otf');
}

@font-face{
    font-family:'Faruma';
    src:url('./maldives/Faruma.otf');
}

@font-face{
    font-family:'CircularStd-Book';
    src:url('./english/CircularStd-Book.otf');
}
