#nav-bar-logo {
    width:50px;
    background-color:#fff;
}

.select2-container{
    width:500px !important;
}

.input-wrap{
    z-index: 100;
    width: 100%;
    padding: 11px 0;
    padding-left: 15px;
}

.input-wrap input{
    background-color: white;
    width: 30vw;
}

.table>thead>tr>th {
    font-size: 1em;
}

#video_file {
    opacity: 1 !important;
    position: relative !important;
}

@media (max-width: 768px) {
    .input-wrap input{
        width: 50vw;
    }

}

.gj-textbox-md{
    border: 1px solid #E3E3E3 !important;
}
.gj-datepicker-md [role=right-icon], .gj-timepicker-md [role=right-icon] {
    right: 8px !important;
    top: 8px !important;
}

.prev_img{
    cursor: pointer;
}

.help-block.error-help-block{
    color: red;
}

.custom-file-input{
    width: 0 !important;
    height: 0 !important;
}

.custom-file-input2{
    width: 0 !important;
    height: 0 !important;
}

.item-raw-title {
    font-size: 0.8571em !important;
    margin-bottom: 5px !important;
    color: #9A9A9A !important;
}

.file-input {
    display: inline-block;
    text-align: left;
    background: #fff;
    padding: 16px;
    width: 450px;
    position: relative;
}
.file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}
.file-input > .button {
    display: inline-block;
    cursor: pointer;
    background: #F96332;
    padding: 8px 16px;
    border-radius: 20px;
    margin-right: 8px;
    color:white;
}
.file-input:hover > .button {
    background: darkGrey;
    color: white;
}
.file-input > .label {
    color: #333;
    white-space: nowrap;
    opacity: .3;
}
.file-input.-chosen > .label {
    opacity: 5;
    color: black;
    font-size: 14px;
}
